@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');


* {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  
}

.main{
  margin: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.noMat {
  margin: 5%;
  background: #EDF8FC;
  padding: 20px;
  box-sizing: border-box;
}

.accou {
  margin: 5%;
  background: #BEDAEC;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  padding: 2% 15% 2%;
}

iframe {
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 900px) {
  iframe {
    width: 300px;
    height: 225px;
  }
  
} 